body {
    margin: 0;
    font-family: Calibri, Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Titulo sección principal */
.section-title {
    text-align: center;
    margin: 40px 0 20px;
    font-size: 2rem;
    color: #333;
}